.image {
   position: relative;
   width: 100%; /* for IE 6 */
}
.image img{
  width: 100%;
}

#main-h3{
   position: absolute;
   top: 40px;
   left: 0;
   width: 100%;
}
#main-h1 {
   position: absolute;
   top: 65px;
   left: 0;
   width: 100%;
}

.empty-div{
  height: 60px;
}

/*sidebar*/
.navigation{
  background: #ebeced;
  background: -webkit-linear-gradient(left, #ebeced, #d1d5d6);
  background: -o-linear-gradient(right, #ebeced, #d1d5d6);
  background: -moz-linear-gradient(right, #ebeced, #d1d5d6);
  background: linear-gradient(to right, #ebeced, #d1d5d6);
  padding: 0;
  padding-bottom: 100px;
}

i img {
    position: relative;
    width: 25px;
    top: -2px;
    margin-left: 24px;
}

.side-nav-bar li {
    padding: 0px;
    line-height: 60px;
    font-size: 18px;
    color: #9ba0a4;
    text-align: right;
    padding-right: 24px;
    border-bottom: 1px solid #ffe;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
}

.side-nav-bar li a {
    padding: 0px;
    line-height: 60px;
    font-size: 18px;
    color: #9ba0a4;
    text-align: right;
}
.side-nav-bar li::active > a {
    font-family: 'Source Sans Pro', sans-serif;
    color: #36abe1;
    font-weight: 600;
}
.active {
    font-family: 'Source Sans Pro', sans-serif;
    color: #36abe1;
    font-weight: bold;
    background: #ffe;
}

.active > a {
    font-family: 'Source Sans Pro', sans-serif;
    color: #36abe1 !important;
    font-weight: bold;
}

#aside {}
.display-right {
  padding-left: 70px;
  padding-right: 70px;
  font-size: 13px;
  line-height: 18px;
  color: #65686f;
  }

.pg-content img {
      width: 100%;
  }
