.image {
   position: relative;
   width: 100%; /* for IE 6 */
}
.image img{
  width: 100%;
}

h3 {
   position: absolute;
   top: 40px;
   left: 0;
   width: 100%;
}
h1 {
   position: absolute;
   top: 65px;
   left: 0;
   width: 100%;
}

.empty-div{
  height: 60px;
}

/*sidebar*/
.navigation{
  background: #ebeced;
  background: -webkit-linear-gradient(left, #ebeced, #d1d5d6);
  background: -o-linear-gradient(right, #ebeced, #d1d5d6);
  background: -moz-linear-gradient(right, #ebeced, #d1d5d6);
  background: linear-gradient(to right, #ebeced, #d1d5d6);
  padding: 0;
  padding-bottom: 200px;
}
